.sidebar {
  width: 130px;
  background-image: url('/incendio.jpg'); 
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
  transition: width 0.3s ease;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  color: white; 
  position: relative;
}

.sidebar.closed {
  width: 0;
  overflow: hidden;
}

.sidebar ul {
  list-style: none;
  position: relative; 
  z-index: 1;
  padding: 20px;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 16px;
}

.sidebar ul li a:hover {
  color:rgb(255, 255, 255);
}

.sidebar ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(32, 32, 32, 0.705);
  display: block;
}
