.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff7f2a;
  padding: 10px 16px;
  color: white;
}

/* Botão do menu */
.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.logo {
  font-size: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logout-button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
