.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff7f2a;
  padding: 10px 16px;
  color: white;
}

.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  z-index: 1200px;
  color: white;
  cursor: pointer;
}

.logout-button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
}
