html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
  }

.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content {
  flex: 1;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
  padding-bottom: 64px;
}

.mapa {
  height: 600px;  
  width: 100%;
  margin-top: 1rem;
}

.mapa h2{
  color: #000;
}

.noticias {
  margin-top: 24px;
}

.noticiasTitle{
  font-size: 30px;
  color: #000;
}

.noticias-duplas {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; 
}

.noticia {
  flex: 1 1 45%;
  background-color: #FF940978;
  border-radius: 8px;
  padding: 12px;
}

.noticia img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 8px;
}

.noticia a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.noticia a:hover{
  color: #fff;
}

.contatos {
  font-size: 24px;
  margin-top: 32px;
  padding: 12px;
  color: #000;
  margin-bottom: 2rem;
}

.icones-contato {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 12px;
}

.contato-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.contato-item img {
  width: 60px;
  height: auto;
  cursor: pointer;
}

.contato-item:hover img {
  transform: scale(1.3);
}

.contato-item span {
  margin-top: 6px;
  font-weight: 500;
}

@media (max-width: 480px) {
  .login-box {
    padding: 20px;
    max-width: 90%;
    margin: 0 10px;
  }

  .login-box h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .login-box input,
  .login-box button {
    font-size: 14px;
    padding: 10px;
  }

  .texto-secundario {
    font-size: 12px;
  }

  .mensagem-erro {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .home-container {
    flex-direction: column;
  }

  .noticias-duplas {
    flex-direction: column;
    gap: 12px;
  }

  .noticia {
    flex: 1 1 100%;
  }

  .mapa {
    height: 300px; 
  }

  .contatos {
    font-size: 18px;
    margin-top: 20px;
    padding: 8px;
  }

  .icones-contato {
    gap: 16px;
  }

  .contato-item img {
    width: 40px;
  }

  .contato-item span {
    font-size: 12px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .noticias-duplas {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .noticia {
    flex: 1 1 48%;
  }

  .mapa {
    height: 400px;
  }

  .contatos {
    font-size: 20px;
    margin-top: 24px;
    padding: 10px;
  }

  .contato-item img {
    width: 50px;
  }

  .contato-item span {
    font-size: 13px;
  }
}

